* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("img/my\ pic.jpg");
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  font-size: 6.5rem;
  color: white;
  font-family: monospace;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgb(0%, 0%, 100%, 0.1);
}
